

/* Smartphones (600px para baixo) */
@media only screen and (orientation: portrait) {


body{
    max-height: 100%;
}

.reservas {
    display: flex;
    width: 25vw;
    height: 7vw;
    align-items: center;
    justify-content: center;
    border: green solid 1px;
    padding: 1%;
    padding-right: 2%;
    
}

#linkReservas {
    align-items: center;
    display: flex;
    text-decoration: none;
    color: green;
    font-size: 2vw;
}

#linkReservas img{
    width: 10vw;
}
.promocao{
    justify-content: center;
}

#despedida{
    width: 20vw;
    
}

#video{
    width: 20vw;
    
}

#aniversario{
    width: 20vw;
    
}

#logo1{
    width: 25vw;
}

#link-loc{
    display: none;
}
#slogan {
    display: none;
}

#linkReservas {
    font-size: 2.5vw;
    color: green;
}

#linkReservas img {
    width: 12vw;
}

nav a {
    height: 8vw;
}

#prog {
    display: none;
}


.promocao { 
    margin-top: 15%;
    
}

nav a {
    display: flex;
    justify-content: center;
}

#sexta{

    width: 20vw;
}
#sabado{

   width: 20vw;
}

#domingo{

    width: 20vw;
}

}
