*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}


header{
    background-image: linear-gradient(to bottom, black, transparent);
    display: flex;
    justify-content: center;
    justify-items: center;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.imagem-de-fundo{
  background: url("WhatsApp Image 2023-03-15 at 02.41.39.jpeg") ;
  background-repeat: none;
  background-size: contain;
  max-width: 100%;
  
}


.img-logo{
    flex: 10%;   
    text-align: center;
    flex-grow: 1;
    
}

#logo1{
    width: 9vw
}

.esquerda{
    padding: 1%;
    list-style: none;
    display: flex;
    flex: 45%;
    max-width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
 }

.direita{
    padding: 1%;
    list-style: none;
    display: flex;
    flex: 45%;
    max-width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center; 
}


nav a{
    margin: 1%;
    padding: 2%;
    text-decoration: none;
    color: white;
    font-size: 2vw;
    align-items: center;
    justify-content: space-between;
    text-align: center; 
    border: solid white 1px;  
    border-radius: 20px;  
    flex-grow: 1;
}


header a:hover {
    padding: 3%;
    color: black;
    background-color: orangered;
    
    
}

.reservas{
    position: fixed;
    background-color: white;
    text-align: center;
    color: orangered;
    padding: 1%;
    padding-bottom: 0;
    margin-bottom: 0;
    border-radius: 5px;
    z-index: 3;
    bottom: 5%;
    right: 1%;
    width: 10%;
    font-weight: bolder;
}

#linkReservas {
    
    font-size: 1vw;
}

#linkReservas img{
    width: 7vw;
        
}
.sobre
{   
    display: inline-flex;
    margin-top: 10%;
    margin-right: 0;
    background-color: orangered;
    text-align: center;
    color: white;
    width: 100%;
    flex-flow: 1;
}

.sobre p{
    
    width: 100%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1vw;
    flex-grow: 1;
}

.promocao
{
margin-top: 5%;
display: flex;
justify-content:space-around;
align-items: center;
margin: 0;
z-index: 1;
width: 100%;
}

#despedida{
    width: 30vw;
}

#video{
    width: 30vw;
}

#aniversario{
    width: 30vw;
}

.promocao a{
    margin: 1%;
    flex-flow: 1;
   
    transition: opacity 0.5s ease;
 
}

.promocao a:hover{

    transition: opacity 0.5s ease;
    opacity: 0.5;

   
   
}

.promocao:hover{
transition: all 0.3s ease-in-out;

}

h1{
    padding: 10px;
}
footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    size: 100%;
    width: 100%;
    color: white;
    background-color: red;
    bottom: 0;
}
.redes-sociais{
    margin-top: 1%;
    background-color: white;
    color: orangered;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: 1;
    font-size: 1.5vw;
}

#instagram{
    height: 5vw;
}

#facebook{
    height: 5vw;
}

.dias{
    margin-top: 3%;
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1% 1%;
    border: 2px solid orangered;
    background-color: white;
    border-radius: 20px;
    color: orangered;
    font-size: 3vw;
    margin-right: 0;
    margin-left: 0;
}

#sexta{

    width: 27vw;
}
#sabado{

   width: 27vw;
}

#domingo{

    width: 27vw;
}


h2{
    font-size: 5vw;
}

.localizacao{
    margin-top: 5%;
    background-color: white;
    text-align: center;
    color: orangered;
    border-radius: 25px;
    padding-top: 2%;
    margin-bottom: 5%;
    width: 50vw;
    height: 40vw;
}

a{
    text-decoration: none;
    color: orangered;
}

#gps{
    margin-top: 5%;
    width: 30vw;
    height: 30vw;
}

footer{
    display: flex;
    justify-content: space-between;    
    font-size: 1.5vw;
    

}
